@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --pcolor : #002f34;
}

body{
    color: #002f34;
}

.txt-color{
    color:#002f34;
}
/*Background primary color*/
.bgp{
  background-color: #002f34;
}
.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper{
  background-color: #002f34;
  max-height: 600px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.swiper-button-next{
  color: #fafafa;
}
.swiper-button-prev{
  color: #fafafa;
}

@keyframes widthAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%; /* Change to your desired final width */
  }
}

.animate-width {
  animation: widthAnimation 0.7s ease-in-out; /* Customize duration and timing function */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.menu-link{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 16px;
  font-weight: 600;
  z-index: 1;
}
.menu-link img{
  position: relative;
  z-index: 10;
}
.menu-link:hover{
  background-color: #002f34ad;
  color: white;
}

.active-tab{
  font-weight: 600;
  border-bottom: 2px solid #002f34;
}
.nonactive-tab{
  color: gray;
}
.multiline-elipsis{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}

.white-outline-space{
  display: block;
  width: 120em;
  height: 120em;
  border-radius: 100%;
  background-color: transparent;
  margin: 0px;
  border: 250px solid white;
  background-clip: content-box;
  padding: 1em;
  z-index: 1;
}

@keyframes circleAnimation {
  0% {
    width: 120em;
    height: 120em;
    border: 250px solid white;
  }
  50% {
    width: 40em;
    height: 40em;
    border: 80px solid white;
  }
  100%{
    width: 120em;
    height: 120em;
    border: 250px solid white;
  }
}

.animate-circle {
  animation: circleAnimation 1s ease-in-out; /* Customize duration and timing function */
}

